.modal {
  box-sizing: border-box;
  .container {
    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .comment {
        grid-column: 1 / -1;
        width: 100%;
        flex: 2;
      }

      .imgContainer {
        flex: 1;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      .input {
        height: 100%;
        padding: 7px 11px;
      }

      .textArea {
        min-height: 110px;
      }
    }
  }
}
