.modal {
  box-sizing: border-box;
  .container {
    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .comment {
        grid-column: 1 / -1;
        width: 100%;
        flex: 2;
      }

      .imgContainer {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        border: 1px dashed #ccc;

        .img {
          width: 100%;
          height: 100%;
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }

        .placeholder {
          color: #999;
          font-size: 14px;
          text-align: center;
        }
      }

      .input {
        height: 100%;
        padding: 7px 11px;
      }

      .textArea {
        min-height: 110px;
      }
    }
  }
}
