.modal {
    box-sizing: border-box;
  .container {
    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .comment {
        grid-column: 1 / -1;
        width: 100%;
      }

      .input {
        height: 100%;
        padding: 7px 11px;
      }
    }
  }
}
