@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";

.button {
  display: flex;
  justify-content: end;
  width: 100%;
  .buttonSave {
    margin-top: 20px;
    @include buttonSave(var(--green-color));
  }
}

.popBox {
  display: flex;
  flex-direction: row;
  .popLeft {
    margin-right: 20px;
  }
}
