@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";
.TableWrapper {
  display: block;
  width: 100%;
  height: 64vh;
 
}
.Table {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  max-height: calc(100vh - 335px);
  height: calc(100vh - 335px);
  min-height: 375px;
  margin-bottom: 0;
  border-radius: 8px;
  margin-top: -5px;
  table {
    min-height: 375px;
  }

  .sampleComponent {
    display: flex;
    position: absolute;
    max-width: 225px;
    min-width: 225px;
    // height: 200px;
    background-color: #ffffff;
    left: 0;
    top: 45px;
    border-radius: 8px;
    box-shadow: 9px 3px 18px rgba(0, 0, 0, 0.2);
  }
  .headerNotMain {
    cursor: auto !important;
    opacity: 1;
    background-color: var(--tableTh) !important;
    th {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  .thTable {
    position: relative;
    display: flex;
    justify-content: center;
    img {
      padding-left: 5px;
    }
  }
  .noteData {
    position: absolute;
    width: 100vw;
    pointer-events: none;
    transform: translateX(-88px);
    font-size: 24px;
    background-color: #fff;
    // height: 100px;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .TableInner {
    width: 100%;
    height: 150px;
    th:nth-child(1) {
      border-radius: 8px 0 0 0;
    }

    th:nth-last-child(1) {
      border-radius: 0 8px 0 0;
    }

    tr {
      background-color: var(--tableTdBg);
      &:hover td {
        background-color: var(--tableTrHover)!important;
        cursor: pointer;
      }
    }
    th {
      padding: 10px;
      position: sticky;
      top: 0px;
      z-index: 99;
      background-color: var(--tableTh);
      border-left: 1px solid #e3dfda;
      @include font(14px, 500);
    }
    th[name="fileName"], th[name="checkPhoto"], th[name="problemDescription"] , th[name="number"], th[name="repairPrice"], th[name="commentAttachment"]  {
      &:hover {
        background-color: var(--tableTh);
        cursor: auto;
      }
    }
    
    
    th {
      &:hover {
        cursor: pointer;
        background-color: var(--Active-gray-color);
      }
    }

    .thSort {
      cursor: pointer;
      z-index: 120;
      margin-left: 5px;
      &:hover {
        opacity: 0.6;
      }
    }

    td {
      // text-align: center;
      padding: 10px;
      position: relative;
      border-left: 1px solid #e3dfda;
      border-bottom: 1px solid #e3dfda;
      &:first-child {
        border-left: none;
      }
      #statusGreen {
        background-color: red !important;
      }
      .statusClick {
        padding: 4px 8px;
        border-radius: 8px;
        background-color: var(--dark-grey-color);
        text-align: center;
        &:hover {
          background-color: var(--Active-gray-color);
          // opacity: 0.8;
        }
        .shovStatusPop {
          max-height: 150px;
          overflow-y: scroll;
          transform: translateY(20px);
          position: absolute;
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 1px 0px 8px var(--dark-grey-color);
          z-index: 100;
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
              display: flex;
              align-items: center;
              padding: 10px;
              text-align: start;
              &:hover {
                background-color: var(--Active-gray-color);
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
    .MainTd[name="number"] {
      position: sticky;
      left: 47px;
      width: 41px!important;
      min-width: 41px!important;
      z-index: 50;
      background-color: #f7f7f7;
    }
    .MainTd[name="unit"] {
      position: sticky;
      left: 112px;
      width: 125px;
      min-width: 125px;
      max-width: 125px;
      z-index: 50;
      background-color: #f7f7f7;
    }
    .MainTd[name="contractor"] {
      position: sticky;
      left: 398px;
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      z-index: 50;
      background-color: #f7f7f7;
      box-shadow: 5px 0 5px #e3dfda75;
    }
    .MainTd[name="object"] {
      position: sticky;
      left: 257.5px;
      width: 120px;
      min-width: 120px;
      max-width: 120px;
      z-index: 49;
      background-color: #f7f7f7;
    }
    td[name="tgId"] {
      text-align: center !important;
    }
    .MainTd[name="checkAll"] {
      position: sticky;
      left: 0px;

      width: 41px;
      z-index: 50;
      background-color: #f7f7f7;
    }

    .MainTh[name="checkAll"] {
      position: sticky;
      left: 0px;
      top: 0;
      width: 41px;
      z-index: 100;
      background-color: #b7ab9e;
    }
    .MainTh[name="unit"] {
      position: sticky;
      left: 112px;
      width: 125px;
      min-width: 125px;
      max-width: 125px;
      top: 0;
      z-index: 100;
      background-color: #b7ab9e;
      &:hover {
        background-color: var(--Active-gray-color);
      }
    }
    .MainTh[name="number"] {
      position: sticky;
      left: 47px;
      top: 0;
      width: 65px;
      z-index: 100;
      background-color: #b7ab9e;
      &:hover {
        cursor: default;
      }
    }
    .MainTh[name="contractor"] {
      position: sticky;
      left: 398px;
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      top: 0;
      z-index: 100;
      background-color: #b7ab9e;
      box-shadow: 5px 0 5px #e3dfda75;
      &:hover {
        background-color: var(--Active-gray-color);
      }
    }
    .MainTh[name="object"] {
      position: sticky;
      left: 257.5px;
      top: 0;
      width: 120px;
      min-width: 120px;
      max-width: 120px;
      z-index: 100;
      background-color: #b7ab9e;
      &:hover {
        background-color: var(--Active-gray-color);
      }
    }

    .imgTable {
      width: 150px;
      height: 150px;
      transition: 0.1s all linear;
      object-fit: cover; /* Масштабирование и обрезка */
      border-radius: 4px; /* Для скругления углов, если нужно */
      &:hover {
        opacity: 0.4;
      }
    }
    .setectedTr {
      background-color: #d8cdc1ff;

      &:hover td {
        background-color: var(--selectedTr);
      }
    }
  }
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.tableNotData {
  text-align: center;
  height: 58vh;
  width: 100%;
  font-size: 24px;
  padding: 50px 0px;
  position: relative;
  left: -50px;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none !important;
  content: none;
}

input[type="checkbox"]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 13px;
  border-radius: 4px;
  color: transparent !important;
  background: #fff;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #d3d6db;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  background: var(--turquoise-color);
  border: 2px solid var(--turquoise-color);
  border-radius: 4px;
}
.notData {
  position: absolute;
  left: 45%;
  top: 60%;
  font-size: 22px;
}
.fileVideoTable video{
  width: 150px;
  height: 150px;
  transition: 0.1s linear all;
  &:hover{
    opacity: 0.6;
  }
}
.planCompleteDate{
  input{
    background-color: #b7ab9e;
    border-color: #b7ab9e;
    padding: 8px 5px;
    border-radius: 8px;
    border: none;
  }
}

.tableNotDataSpinner{
  position: relative;
  height: calc(100vh - 325px);
  width: 100%;
  .tableNotDataSpinnerInner{
    position: fixed;
    top: calc(100vh - 325px);
    left: calc(48vw);
    transform: translate(-50%, -50%);
    display: block;
  }
  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .notDataSpinner{
    position: relative;
    top: 10px;
    font-size: 22px;
  }
  .spinner {
    border: 5px solid transparent;
    border-top: 5px solid var(--turquoise-color);
    border-right: 5px solid var(--turquoise-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
