.FunctionReportTop{
    .ReportFinansingMenu{
        display: flex;
        justify-content: space-between;
        .ReportFinansingList{
            display: flex;
        }
        .ReportFinansingButton{
            display: flex;
            .ReportFinansingButton__text{
                @include button(var(--tableTh));
                margin: 0px 10px 0px 0px;
                padding: 0px 25px;
                height: 44px;
                display: flex;
                align-items: center;
              cursor: auto!important;
              &:hover{
                border: none!important;
              }
            }
            button{
                @include button(var(--turquoise-color));
                padding: 0px 25px!important;
                height: 44px;
                display: flex;
                align-items: center;
            }
        }
    }
    
}
.clear{
    margin-left: 0px;
    button{
      border-radius: 8px;
      background-color: var(--turquoise-color);
      height: 44px;
      width: 40px;
      transition: 0.1s linear all;
      border: none;
      &:hover{
        opacity: 0.8;
        cursor: pointer;
      }
    }
   
  
  }