@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.List {
  display: flex;
  justify-content: center;
  font-size: 16px;
  position: relative;
  input {
    width: 420px!important;
    @media (max-width: 580px) {
      width: 300px!important;
       }
    @include input-text(420px, 8px);
    margin-bottom: 18px;
    font-size: 16px;
    color: #000;
    padding-right: 30px;
    &:hover {
      cursor: pointer;
    }
    height: 16px;
  }

  span {
    cursor: pointer;
  }
  .ListCont {
    position: relative;
  }
  .arrowBot img {
    position: absolute;
    right: 10px;
    top: 22px;
    transform: rotate(-90deg);
  }
  .ListData {
    width: 440px;
    position: absolute;
    z-index: 9900;
    top: 71px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #adadad;
    background-color: #ffffff;
    @media (max-width: 580px) {
      width: 320px;
    }
    .NameForList {
      font-size: 16px;
      margin-left: 7px;
      transition: 0.1s linear all;
      cursor: pointer;
      &:first-child{
        margin-top: 5px;
      }
      &:hover {
        color: var( --ActiveText-color);
      }
    }
  }
}
