@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.Header {
  width: 100%;
  display: flex;
  justify-content: start;
  height: 150px;
  margin-bottom: 40px;
  @media (max-width: 870px) {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e3dfda;
    box-shadow: 9px 3px 18px rgba(0, 0, 0, 0.2);

   }
  .buttonMenu {
    @include button(var(--turquoise-color));
    margin: 0px;
    width: 180px;
    height: 40px;
    // padding: 12.5px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 50px;
    @media (max-width: 870px) {
      display: none;
     }
}

  .menuUl{
    margin-top: 25px;
    position: relative;
    img{
      position: absolute;
      right: 5px;
      margin-top: 5px;
    }
  }
  .menuUlSecond{
    margin-left: 20px;
  }
  ul {
    a{
      text-decoration: none;
      color: #000000;
    }
      .menuLi {
        
        font-size: 22px;
          padding: 8px 15px;
          margin: 3px 0px;
          @include font(16px, 300);
          cursor: pointer; // Move cursor style here for better clarity
          border-radius: 5px;
          &:hover {
              background-color: var(--turquoise-color)!important;
              transition: 0.1s linear all;
              border-radius: 5px;
          }
      }
  }
  .ButonFunc{
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    button {
      @include button(var(--turquoise-color));
      margin: 0px 5px;
      width: 250px;
      height: 45px;
      padding: 12.5px 0px;
      text-align: center;
      display: flex;
      justify-content: center;
      @include font(16px, 100);
      margin-bottom: 15px;
  }
  }
}

.Opacity{
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  z-index: 900;
}
.TitleSitte{
width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -178px;
  pointer-events: none;
  .TitleSitteInner{
    max-width: 900px;
    text-align: center;
    position: relative;
    @media (max-width: 870px) {
      display: none;
     }
    img{
      width: 200px;
      position: relative;
    
    }
    .TitleSitteInnerText{
      font-size: 18px;
      width: 713px;
    }

  }
}
.close{
  display: flex;
  justify-content: end;
  img{
    cursor: pointer;
    transition: 0.1s linear all;
    &:hover{
     transform: rotate(90deg);
    }
  }
}
.headerButton{
  @media (max-width: 870px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
   }
  img{
    height: 75px;
    width: 180px;
  }
}