

.menu {
    position: fixed;
    top: 0;
    left: -400px; /* Скрыто за пределами экрана */
    width: 340px;
    height: 100%;
    background-color: #e3dfda;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease; /* Плавный переход */
    z-index: 10000;
    padding: 20px;
}

.menu.open {
    left: 0; /* Меню выезжает */
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-height: 370px) {
    .menu.open {
        overflow-y: scroll;
    }
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    cursor: pointer;
}
