.SamplePoints {
  width: -webkit-fill-available;
  padding: 18px 16px;
  max-height: 55vh;
  // max-height: 185px;
  .search {
    // width: 350px;
    display: flex;
    justify-content: center;

    input {
      border-radius: 8px;
      font-size: 14px;
      padding: 4px 8px;
      width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    max-height: 90%;
    overflow-y: scroll;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      &:first-child{
      margin-top: 10px;
      }  
          p {
        margin: 5px 0px 5px 10px;
        text-align: start;
      }
    }
  }
  .inputLabel{
    // width: 200px;
    height: 35px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #757575;
    outline: none;
  }
}
