@import "./../../styles/mixins.scss";
@import "./../../styles/color.scss";

.RangeEquipment{
   
    .RangeEquipmentButton{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        h3{
            margin: 0;
        }
        .RangeEquipmentButtonInner{
            display: flex;
            button{
                @include button(var(--turquoise-color));
                margin-left: 15px;
            }
        }
    }
}