.DirectoryStatuses {
    .Functional__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 350px;

            p {
                font-size: 24px;
                margin: 0;
            }
        }

        .clear {
            margin-left: 10px;
            button {
                border-radius: 8px;
                background-color: var(--turquoise-color);
                height: 44px;
                width: 40px;
                transition: 0.1s linear all;
                border: none;
                cursor: pointer;

                &:hover {
                    border: 0.5px solid #000000;
                }
            }
        }
    }

    .button__header {
        display: flex;
        button {
            display: flex;
            background-color: var(--turquoise-color);
            outline: none;
            color: #000;
            border-radius: 8px;
            padding: 10px 15px;
            font-weight: 300;
            font-size: 16px;
            border: none;
            transition: all 0.1s linear;
            width: 150px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                border: 0.5px solid #000000;
            }
        }
    }
}

.PopUpInput {
    width: 90%;
    outline: none;
    background-color: #fff;
    color: #353535;
    padding: 15px 15px;
    border: 1px solid #adadad;
    margin-top: 3px;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px 0px;
}

.ColorInput {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;

    label {
        font-size: 18px;
        margin-right: 10px;
    }

    .PopUpColorInput {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 80px;
        height: 20px;
        border-radius: 12px;
        border: 2px solid #ccc;
        background-color: transparent;
        cursor: pointer;
        transition: border-color 0.3s ease, transform 0.2s ease;

        &:hover {
            border-color: #888;
            transform: scale(1.02);
        }

        &:focus {
            outline: none;
            border-color: #007bff;
        }

        &::-webkit-color-swatch-wrapper {
            padding: 0;
            border-radius: 12px;
        }

        &::-webkit-color-swatch {
            border: none;
            border-radius: 12px;
        }

        &::-moz-color-swatch {
            border: none;
            border-radius: 12px;
        }
    }
}

.CreateButton {
    margin: 40px auto 0 !important;
    background-color: #b7ab9e !important;
    width: 70%;
    height: 42px;
    border-radius: 8px;
    margin-top: 20px;

    &:hover {
        background-color: #9f8b7b !important;
        color: #fff !important;
    }
}

.disabledDelete {
    opacity: 0.5;

    &:hover {
        border: none !important;
    }
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
