@import "./../../styles/mixins.scss";
@import "./../../styles/color.scss";

.DirectoryStatuses {
    .Functional__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 350px;

            p {
                font-size: 24px;
                margin: 0;
            }
        }

        .clear {
            margin-left: 10px;
            button {
                border-radius: 8px;
                background-color: var(--turquoise-color);
                height: 44px;
                width: 40px;
                transition: 0.1s linear all;
                border: none;
                cursor: pointer;

                &:hover {
                    border: 0.5px solid #000000;
                }
            }
        }
    }

    .button__header {
        display: flex;
        button {
            display: flex;
            background-color: var(--turquoise-color);
            outline: none;
            color: #000;
            border-radius: 8px;
            padding: 10px 15px;
            font-weight: 300;
            font-size: 16px;
            border: none;
            transition: all 0.1s linear;
            width: 150px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                border: 0.5px solid #000000;
            }
        }
    }
}
