.CreateNomenclature{
    width: 1000px;
    display: flex;
    .PopUpContainerInner{
        width: 525px!important;
    }
    .pupUpFirstContainer{
        display: block;
        .pupUpFirstContainerInfo {
            display: flex;
            width: 615px;
            margin: 5px 0px;
        }
        p {
            margin: 0;
        }
            .pupContainerInfoTitle{
                display: flex;
               
                padding: 5px 10px;
                box-sizing: border-box;
                background-color: var(--light-gray-color);
                width: 212px;
                border-radius: 6px;
                align-items: center;
            }
            .commentBlockInput{
                // flex: 1;
                width: 272px;
                background-color: var(--turquoise-color)!important;
                border: none;
                margin-left: 10px;
                height: 45px;
                padding-left: 10px;
                border-radius: 5px;
                font-size: 16px;
            }
        
    }
    .buttonSubmitBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        .buttonSubmit{
            margin: 10px 0px 0px 0px;
            padding: 10px 10px;
            width: 400px;
            color: #000000;
            background-color: var(--turquoise-color)!important;
            border-radius: 6px;
            &:hover{
                background-color: var(--light-gray-color)!important;
                cursor: pointer;
                color: #ffffff!important;
            }
        }
    }
    .ListCont{
        input{
            flex: 1;
            width: 250px!important;
        }
    }
}
