@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";


.PageCardContractors{
    // @include container;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    padding: 10px 18px;
    margin-top: 50px;
    @media (max-width: 870px) {
        margin-top: 100px;
    }
    .container{
        width: 100%;

        .ConstructorTitle{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            padding: 10px 0px;
            
        }
        .Constructor{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            // justify-content: center;
        }
    }
}