@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.FunctionTableTop{
    @include container;
    margin-bottom: 15px;
    display: block;
    justify-content: start;
    padding: 10px 0px;
    height: auto;
    background-color: inherit!important;
    margin-top: -75px;
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .topList{
        display: flex;
    }
    input{
        width: 135px!important;
        margin-bottom: 0 !important;
    }
   
    .searchForTable{
        position: relative;
        top: 25px;
        img{
            position: absolute;
            right: 12px;
            top: 14px;
        }
        input{
            width: 250px!important;
            padding-right: 35px;
            height: 12px;
        }
    }
    .HeadMenuMain{
      display: flex;
        box-sizing: border-box;
        flex-direction: row;
        padding: 6px 0px;
        position: relative;
        top: 85px;
        button {
          height: 44px;
          display: flex;
          align-items: center;
          @include button(var(--turquoise-color));
          margin-right: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          img {
            margin-right: 4px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
    }
    .HeadMenu {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        flex-direction: row;
        padding: 6px 0px;
        position: relative;
        top: 10px;
        margin-top: 60px;
        align-items: center;
        width: 100%;
        .HeadMenuButton{
          display: flex;
        }
        button {
          height: 44px;
          display: flex;
          align-items: center;
          @include button(var(--turquoise-color));
          margin-left: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          img {
            margin-right: 4px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .buttonBack{
        @include button(var(--turquoise-color));
        margin-right: 10px;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        margin: 6px 15px 6px 0px;
        width: 150px;
        justify-content: center;
        position: relative;
        top: 20px;
      }
      .dropFilter{
        position: relative;
        left: 315px;
        top: -62px;
        border-radius: 8px;
        background-color: var(--turquoise-color);
        height: 44px;
        width: 40px;
        transition: 0.1s linear all;
        &:hover{
          cursor: pointer;
          opacity: 0.6;
        }
        img{
          position: relative;
          left: 13px;
        }
      }
      .countInfoContainer{
        display: flex;
        align-items: center;
        .countSwitch{
          display: flex;
          align-items: center;
          position: relative;
          .Switch{
            display: flex;
            justify-content: center;
            position: relative;
            position: absolute;
            top: -30px;
            button{
              margin: 0;
              border: none;
              background: none;
              padding: 0;
              font-size: 16px!important;
            }
            p{
              margin-right: 10px;
              height: 42px;
              display: flex;
              align-items: center;
              width: max-content;
              margin: 0;
              box-sizing: border-box;
              border: 0.5px solid #000000;
              padding: 0px 10px;         
              cursor: pointer;  
              transition: 0.1s linear all;
              &:hover{
               background-color: rgb(255, 231, 143);;
              }
            }
          
            p.active{
              @include button(var(--turquoise-color));
              padding: 0px 10px;    
              border: 0.5px solid #000000;
            }
            .switchOne{
              p{
                border-radius: 8px 0px 0px 8px!important;
  
              }
  
            }
            .switchTwo{
              p{
                border-radius: 0px 8px 8px 0px!important;
              }
  
            }
          }
        }
      }
      
      .countInfo{
        display: flex;
        align-items: center;
        margin-top: -18px;
        .CountInfoBlock{
          display: flex;
          border-radius: 8px;
          margin: 0px 10px 0px 0px;
          div{
              p{
                  margin: 0;
                  padding: 11px 12px;
              }
          }
          .contNew{
              margin: 0px 10px 0px 0px;
           
          }
      }
      }
      .ButtonBack{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;
        button{
          @include button(var(--turquoise-color));
          margin-right: 10px;
          height: 42px;
          display: flex;
          align-items: center;
          width: 163px;
          justify-content: center;
          position: relative;
        }
      }

}