@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.FunctionTableTop{
    @include container;
    margin-bottom: 15px;
    display: block;
    justify-content: start;
    padding: 10px 0px;
    height: auto;
    background-color: inherit!important;
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .topList{
        display: flex;
    }
    input{
        width: 135px!important;
        margin-bottom: 0 !important;
    }
   
    .searchForTable{
        position: relative;
        top: 25px;
        img{
            position: absolute;
            right: 12px;
            top: 14px;
        }
        input{
            width: 250px!important;
            padding-right: 35px;
            height: 12px;
        }
    }
    .HeadMenuMain{
      display: flex;
        box-sizing: border-box;
        flex-direction: row;
        padding: 6px 0px;
        position: relative;
        top: 80px;
        button {
          height: 44px;
          display: flex;
          align-items: center;
          @include button(var(--turquoise-color));
          margin-right: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          img {
            margin-right: 4px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
    }
    .HeadMenu {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        padding: 6px 0px;
        position: relative;
        top: 10px;
        margin-top: 60px;
        button {
          height: 44px;
          display: flex;
          align-items: center;
          @include button(var(--turquoise-color));
          margin-left: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          img {
            margin-right: 4px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .buttonBack{
        @include button(var(--turquoise-color));
        margin-right: 10px;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        margin: 6px 15px 6px 0px;
        width: 150px;
        justify-content: center;
        position: relative;
        top: 20px;
      }
      .dropFilter{
        position: relative;
        left: 315px;
        top: -62px;
        border-radius: 8px;
        background-color: var(--turquoise-color);
        height: 44px;
        width: 40px;
        transition: 0.1s linear all;
        &:hover{
          cursor: pointer;
          opacity: 0.6;
        }
        img{
          position: relative;
          left: 13px;
        }
      }
      // .dropFilter{
      //   position: absolute;
      //   left: 20px;
      //   height: 51px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   background-color: var(--turquoise-color);
      //   border-radius: 8px;
      //   padding: 10px;
      //   z-index: 100;
      //   img{
      //     width: 25px;
      //     height: 25px;
      //   }
      //   transition: 0.1s linear all;
      //   &:hover{
      //     opacity: 0.6;
      //     cursor: pointer;
      //   }
      // }
      .countInfo{
        display: flex;
        align-items: center;
        margin-top: -18px;
      }
}