.EquipmentContextMenu {
    position: absolute;
    z-index: 1000;
    padding: 15px;

    border-radius: 8px;
    background-color: var(--color-bg-container);

    button {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }
}