@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.input {
  display: flex;
  justify-content: center;
  position: relative;
  label {
    font-size: 14px;
  }
  input {
    @include input-text(420px, 8px);
    margin-bottom: 18px;
    font-size: 16px;
  }

  .list {
    position: absolute;
    background-color: #fff;
    width: 91%;
    z-index: 10;
    left: 24px;
    top: 23px;
    // border: 1px solid #9c9c9c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 500px;
    padding: 10px 20px;

    box-sizing: border-box;
    ul {
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    li {
      list-style-type: none; /* Убрать маркеры списка */
      display: flex; /* Установить горизонтальную раскладку */
      align-items: center; /* Выровнять элементы по вертикали по центру */
      padding: 12px; /* Внутренний отступ */
      //   background-color: #f1f1f1;
      cursor: pointer; /* Показывать курсор указателя при наведении */
      width: 90%;
    }
    li:hover {
      background-color: #e0e0e0;
      border-radius: 8px;
    }
  }
}
