@import "./../../styles/mixins.scss";
@import "./../../styles/color.scss";

.BusinessUnitReference{
    .BusinessUnitReferenceTop{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;
       h2{
        margin: 0;
       }
        .BusinessUnitReferenceTopButton{
            display: flex;
            button{
                @include button(var(--turquoise-color));
                &:nth-child(2){
                    margin: 0px 15px;
                }
            }
        }
    }
    .PupUpCreate{
      
        .PupUpCreateInputInner{
            display: flex;
            justify-content: center;
        }
        input{
            @include input-text(90%, 8px);
                font-size: 18px;
                margin: 10px 0px;
        }
        .PupUpCreateButtonInner{
            display: flex;
            justify-content: center;
            width: 100%;
            .PupUpCreateButton{
                background-color: #B7AB9E!important;
                width: 70%;
                height: 42px;
                border-radius: 8px;
                margin-top: 20px;
                &:hover{
                    background-color: #9f8b7b!important;
                    color: #fff;
                }
            }
        }
        .ErrorMessage{
            color: #d69a81;
        }
    }
}