.BusinessUnitReference{
    margin-top: -50px;
    @media (max-width: 870px) {
        margin-top: 100px;
    }
    .BusinessUnitReferenceTop{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 75px;
       h2{
        margin: 0;
       }
       @media (max-width: 870px) {
        align-items: center;
        flex-direction: column;
    }
        .BusinessUnitReferenceTopButton{
            display: flex;
            button{
                @include button(var(--turquoise-color));
                width: 150px!important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(2){
                    margin: 0px 15px;
                }
            }

            @media (max-width: 870px) {
                margin-top: 10px;
            }

            @media (max-width: 555px) {
                flex-direction: column;
                align-items: center;
                width: 100%;
                button {
                    width: 100% !important;
                    margin-top: 10px !important;
                }
            }
        }
    }
    .PupUpCreate{
      
        .PupUpCreateInputInner{
            display: flex;
            justify-content: center;
        }
        input{
            @include input-text(90%, 8px);
                font-size: 18px;
                margin: 10px 0px;
        }
        .PupUpCreateButtonInner{
            display: flex;
            justify-content: center;
            width: 100%;
            .PupUpCreateButton{
                background-color: #B7AB9E!important;
                width: 70%;
                height: 42px;
                border-radius: 8px;
                margin-top: 20px;
                &:hover{
                    background-color: #9f8b7b!important;
                    color: #fff;
                }
            }
        }
        .ErrorMessage{
            color: #d69a81;
        }
    }
}
.BusinessUnitReferenceTopTitle{
    display: flex;
    align-items: center;
    .clear{
        margin-left: 15px;
        button{
          border-radius: 8px;
          background-color: var(--turquoise-color);
          height: 44px;
          width: 40px;
          transition: 0.1s linear all;
          border: none;
          &:hover{
            opacity: 0.8;
            cursor: pointer;
          }
        }
       
      
      }
}
