@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";
.mainPopBg{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.518);
.mainPop{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    .mainPop__inner{
        background-color: #ffffff;
        box-shadow: 4px 4px 20px 0px #00000026;
        margin: 0 auto;
        border-radius: 10px;
        width: 270px;
        font-size: 16px;
        text-align: center;
        position: relative;
        padding: 10px 16px;
       font-size: 18px;
        .buttonBlock{
            display: flex;
            justify-content: end;
            width: 100%;
            button {
                display: flex;
                justify-content: center;
                border: none;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                width: 100%;
                margin-top: 20px;
                @include buttonSave(var(--turquoise-color));
                &:hover{
                    cursor: pointer;
                }
              }
        }
    }
}
}