.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content__box {
        padding: 60px 0px;
        width: 800px;
        border-radius: 17px;
        background-color: var(--white-color);
        display: flex;
        justify-content: space-around;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .arrow {
                width: 30px;
                cursor: pointer;
            }
            h1 {
                margin-left: 5px;
            }
        }

        .form {
            width: 100%;

            .form__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;

                .inputContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 50px;

                    .input {
                        @include input-text(360px, 8px);
                        margin-bottom: 15px;
                        padding-right: 40px;
                        @media (max-width: 570px) {
                            @include input-text(260px, 8px);
                            margin-bottom: 25px;
                        }
                    }
                }


                .button {
                    @include button(var(--turquoise-color));
                    width: 200px !important;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    padding: 12.5px 0px;
                }
            }
        }
    }

    .inputWrapper {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
      }
      
      .eyeIcon {
        position: absolute;
        top: 40%;
        right: 15px;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.2s ease;
      
        &:hover {
          opacity: 1;
        }
      }
      
      
}
