.empty {
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    svg:focus {
        outline: none;
    }

    .chart {
        width: 100%;
        min-height: 500px;
    }
}