@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";

.AuthorRegistrar {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  .box {
    label{
      display: flex;
      justify-content: start;
      width: 100%;
      align-items: start;
      text-align: start;
      padding-left: 8px;
      font-size: 14px;
    }
    padding: 60px 0px;
    margin-right: 80px;
    width: 800px;

    background-color: var(--white-color);
    @include flexbox-center(17px);
    .LogoAuth{
      height: 345px;
      position: relative;
      right: -40px;
      top: 30px;
    }
    .container {
      margin: 0 auto;
      @include flexbox-center(17px);
      flex-direction: column;
      position: relative;
      h2 {
        width: 100%;
        @include flexbox-center(0);
        margin-top: 0;
        @include font(32px, 700);
      }
      input {
        @include input-text(360px, 8px);
        margin-bottom: 15px;
      }

      .button {
        @include button(var(--turquoise-color));
        width: 200px!important;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 12.5px 0px;
      }
      .buttonReg {
        margin-top: 10px;
        @include button(var(--gray--button--color));
      }
    }
    .text_Logo{
      position: relative;
    }
  }
}
