@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";

.AuthorRegistrar {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  .box {
    padding: 60px 0px;
    margin-right: 80px;
    width: 800px;

    background-color: var(--white-color);
    @include flexbox-center(17px);

    .container {
      margin: 0 auto;
      @include flexbox-center(17px);
      flex-direction: column;
      position: relative;
      h2 {
        width: 100%;
        @include flexbox-center(0);
        margin-top: 0;
        @include font(32px, 700);
      }
      input {
        @include input-text(360px, 8px);
        margin-bottom: 15px;
      }

      .button {
        @include button(var(--turquoise-color));
      }
      .buttonReg {
        margin-top: 10px;
        @include button(var(--gray--button--color));
      }
    }
  }
}
