@import "./../../../styles/color.scss";
@import "./../../../styles/mixins.scss";

.AuthorRegistrar {
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  .box {
    label{
      display: flex;
      justify-content: start;
      width: 100%;
      align-items: start;
      text-align: start;
      padding-left: 8px;
      font-size: 14px;
    }
    padding: 60px 0px;
    width: 800px;
    @media (max-width: 870px) {
      width: auto;
      padding: 25px 10px;
     }
    background-color: var(--white-color);
    @include flexbox-center(17px);
    .LogoAuth{
      height: 345px;
      position: relative;
      right: -40px;
      top: 30px;
      @media (max-width: 870px) {
       display: none;
      }
    }
    .container {
      margin: 0 auto;
      @include flexbox-center(17px);
      flex-direction: column;
      position: relative;
      h2 {
        width: 100%;
        @include flexbox-center(0);
        margin-top: 0;
        @include font(32px, 700);
      }
      input {
        @include input-text(360px, 8px);
        margin-bottom: 15px;
        @media (max-width: 570px) {
          @include input-text(260px, 8px);
          margin-bottom: 25px;

         }
      }

      .resetPassword {
        color: #000;
        margin: 10px 0;
        &:hover{
          color: var(--ActiveText-color)
        }
      }

      .button {
        @include button(var(--turquoise-color));
        width: 200px!important;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 12.5px 0px;
      }
      .buttonReg {
        margin-top: 10px;
        @include button(var(--gray--button--color));
      }
    }
    .text_Logo{
      position: relative;
    }
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px); // Move up
    }
    50% {
      transform: translateY(0); // Back to original position
    }
    70% {
      transform: translateY(-5px); // Slightly bounce up again
    }
    100% {
      transform: translateY(0); // Back to original position
    }
  }
  
  .ErrorLogin {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    opacity: 0; // Start hidden
    transition: opacity 0.2s linear; // Smooth transition for opacity
    &.visible {
      opacity: 1; // Make the element visible
      animation: bounce 0.5s; // Apply bounce animation
    }
  }
  
}
