@use '@/styles/lk/tokens' as *;

.AuthorRegistrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;

  .LogoAuth {
    display: none;
    @include lk-mq-up(tp) {
      display: block;
      height: 21.5625rem;
      position: relative;
      top: 1.875rem;
    }
  }
  .box {
    label {
      display: flex;
      justify-content: start;
      width: 100%;
      align-items: start;
      text-align: start;
      padding-left: 0.5rem;
      font-size: 0.875rem;
    }
    width: 100%;
    max-width: 25rem;
    padding: 0.625rem 1.875rem;
    background-color: var(--white-color);
    @include flexbox-center(1.0625rem);
    @include lk-mq-up(ml) {
      max-width: 43.75rem;
    }
    @include lk-mq-up(tp) {
      max-width: 50rem;
      padding: 3.75rem 0;
    }

    .container {
      margin: 0 auto;
      @include flexbox-center(1.0625rem);
      flex-direction: column;
      position: relative;
      padding-top: 2.1875rem;
      @include lk-mq-up(ml) {
        padding-top: 4.375rem;
      }
      h2 {
        width: 100%;
        @include flexbox-center(0);
        margin-top: 0;
        @include font(1.75rem, 700);
        @include lk-mq-up(ml) {
          @include font(2rem, 700);
        }
      }
      input {
        @include input-text(15.625rem, 0.5rem);
        margin-bottom: 0.9375rem;
        @include lk-mq-up(ml) {
          @include input-text(22.5rem, 0.5rem);
        }
      }

      .button {
        @include button(var(--turquoise-color));
        width: 12.5rem !important;
        padding: 0.78125rem 0;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .buttonReg {
        margin-top: 0.625rem;
        @include button(var(--gray--button--color));
      }
    }
  }
  .text_Logo {
    position: relative;
    top: -0.9375rem;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-0.625rem);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-0.3125rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .ErrorLogin {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.2s linear;
    &.visible {
      opacity: 1;
      animation: bounce 0.5s;
    }
  }
}
