.AuthorRegistrar {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  .LogoAuth{
    height: 345px;
    position: relative;
    top: 30px;
    @media (max-width: 970px) {
      display: none;
    }
  }
  .box {
    label{
      display: flex;
      justify-content: start;
      width: 100%;
      align-items: start;
      text-align: start;
      padding-left: 8px;
      font-size: 14px;
    }
    padding: 60px 0px;
    width: 800px;
    background-color: var(--white-color);
    @media (max-width: 970px) {
      width: 700px;
    }
    @media (max-width: 750px) {
      width: auto;
      padding: 10px 30px;
      margin: 5px;
    }
    @include flexbox-center(17px);

    .container {
      margin: 0 auto;
      @include flexbox-center(17px);
      flex-direction: column;
      position: relative;
      padding-top: 70px;
      @media (max-width: 570px) {
        padding-top: 35px;
      }
      h2 {
        width: 100%;
        @include flexbox-center(0);
        margin-top: 0;
        @include font(32px, 700);
        @media (max-width: 580px) {
          @include font(28px, 700);
        }
      }
      input {
        @include input-text(360px, 8px);
        margin-bottom: 15px;
        @media (max-width: 580px) {
          @include input-text(250px, 8px);
        }
      }

      .button {
        @include button(var(--turquoise-color));
        width: 200px!important;
        padding: 12.5px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .buttonReg {
        margin-top: 10px;
        @include button(var(--gray--button--color));
      }
    }
  }
  .text_Logo{
    position: relative;
    top: -15px;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px); // Move up
    }
    50% {
      transform: translateY(0); // Back to original position
    }
    70% {
      transform: translateY(-5px); // Slightly bounce up again
    }
    100% {
      transform: translateY(0); // Back to original position
    }
  }
  
  .ErrorLogin {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    opacity: 0; // Start hidden
    transition: opacity 0.2s linear; // Smooth transition for opacity
    &.visible {
      opacity: 1; // Make the element visible
      animation: bounce 0.5s; // Apply bounce animation
    }
  }
}

