@import "./../../styles/mixins.scss";
@import "./../../styles/color.scss";

.CategoryEquipment{
    .CategoryEquipmentButton{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: end;
       h3{
        margin: 0;
       }
        .CategoryEquipmentButtonInner{
            display: flex;
            button{
                @include button(var(--turquoise-color));
                margin-left: 15px;
            }
        }
    }
}