.layout__container{
    // max-width: 1466px;
    max-width: 88vw;
    margin: 0 auto; /* Центрируем контейнер */
    padding: 10px;
    @media (max-width: 380px) {
        max-width: 100vw;
    }

    @media (max-width: 320px) {
        margin-left: 20px;
    }
}

.layout__container__card {
    margin-left: 0px;
}
