@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.ListInputTOForm {
  display: flex;
  justify-content: center;
  font-size: 16px;
  position: relative;
  align-items: center;
  input {
    width: 285px!important;
    margin-left: 10px;
    box-sizing: border-box;
    @include input-text(420px, 8px);
    font-size: 16px;
    color: #000;
    padding-right: 30px;
    &:hover {
      cursor: pointer;
    }
    border-radius: 5px!important;
    height: 100%!important;
    padding-left: 10px;
  }

  span {
    cursor: pointer;
  }
  .ListCont {
    position: relative;
  }
  .arrowBot img {
    position: absolute;
    right: 10px;
    top: 25px;
    transform: rotate(-90deg);
  }
  .ListData {
    width: 273px;
    max-height: 300px;
    overflow-y: scroll;
    flex: 1;
    margin-left: 10px;
    position: absolute;
    z-index: 9900;
    top: 52px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #adadad;
    background-color: #ffffff;
    .NameForList {
      font-size: 16px;
      margin: 4px 7px;
      transition: 0.1s linear all;
      cursor: pointer;
      &:first-child{
        margin-top: 5px;
      }
      &:hover {
        color: var( --ActiveText-color);
      }
    }
  }
}
