@import "../../../../styles/mixins.scss";
@import "../../../../styles/color.scss";


.ReportFinansing{
    h2{
        margin-bottom: 5px;
    }
  .ReportFinansingList{
    display: flex;
    justify-content: space-between;

    input{
        width: 200px;
    }
   

  }
  .ReportFinansingListFirst{
    display: flex;
  }
  .dropFilter{
    position: relative;
    background-color: var( --turquoise-color);
    width: 40px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 12px;
    top: 3px;
    transition: 0.1s linear all;
    &:hover{
      opacity: 0.6;
      cursor: pointer;
    }
  }
  .ReportFinansingListInnerDate{
    display: flex;
    align-items: center;
    position: relative;
    top: -10px;
    margin-left: 12px;
   
    input{
      height: 40px;
      width: 194px;
      margin: 0 12px;
      border-radius: 8px;
      border: 1px solid #ADADAD;
      padding: 0px 10px;
      position: relative;
      top: 3px;
      &:first-child{
        margin: 0px 6px 0px 12px
      }
      &:last-child{
        margin: 0px 0px 0px 6px
      }
    }
  }
  .ReportFinansingvidView{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 14px;
    p{
      margin: 0 15px 0px 0px;
    };
    .ReportFinansingvidViewInput{
      @include input-text(100px, 8px);
      font-size: 16px;
      position: relative;
      &:hover{
        cursor: pointer;
      }
    }
    .arrowBot{
      position: relative;
      left: -25px;
      top: -2px;
    }
    .ReportFinansingvidViewList{
      position: absolute;
      top: 45px;
      background-color: #fff;
      border-radius: 0px 0px 8px 8px;
      width: 130px;
      border: 1px solid #ADADAD;
      z-index: 100;
      ul{
        list-style: none;
        padding: 0px 0px 0px 15px;
        li{
          margin: 5px 0px;
          font-size: 16px;
          transition: 0.1s linear all;
          &:hover{
            color: var( --ActiveText-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}