.table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #2b2b2b;
    table-layout: fixed;
    overflow: auto;

    thead {
        background: var(--brown-light) !important;
        position: sticky;
        top: 0;
        z-index: 2;
        border-radius: 0 !important;

        th {
            padding: 12px 16px;
            font-weight: 600;
            color: #000 !important;
            border-bottom: 1px solid #e5e7eb;
            border-right: 1px solid #e5e7eb;
            max-width: 150px;
        }
    }

    tbody {
        tr {
            transition: background-color 0.15s ease;

            &:nth-child(even) {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #f1f5f9;
            }
        }

        .trTable:last-child {
            background: #f7f8fa;
            position: sticky;
            bottom: 0;
            z-index: 2;
        }

        td {
            padding: 10px 16px;
            border-bottom: 1px solid #eee;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-right: 1px solid #e5e7eb;
        }

        tr:last-child td {
            border-bottom: none;
        }

        .totalRow {
            background-color: var(--brown-light) !important; // строка Итого
            font-weight: 600;
            color: #000;
        }
    }
}

/* Сброс скруглений на угловых ячейках */
.table thead tr:first-child th:first-child {
    border-top-left-radius: 0 !important;
  }
  
  .table thead tr:first-child th:last-child {
    border-top-right-radius: 0 !important;
  }
  
  .table tbody tr.totalRow td:first-child {
    border-bottom-left-radius: 0 !important;
  }
  
  .table tbody tr.totalRow td:last-child {
    border-bottom-right-radius: 0 !important;
  }
  
  