:root {
  --tableTdBg: #f7f7f7;
  --tableTrHover: #f0efef;
  --tableTh: #e1dede;
  --selectedTr: #c0edf1;
  --gray-color: #dedcdc;
  --white-color: #fff;
  --turquoise-color: #4693a4;
  --light-grey-color: #dbdbdb;
  --light-turquoise-color: #badee5;
  --dark-turquoise-color: #aad2da;
  --gray--button--color: #afbbbd;
  --black--border: #101415;
  --dark-grey-color: #afbbbd;
  --green-color: #6FCF97;
}
