@import "./color.scss";

@mixin flexbox-center($br) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $br;
}

@mixin flexbox-between($br) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $br;
  width: 100%;
}

@mixin container {
  background-color: #fff;
  border-radius: 17px;
  padding: 18px 20px;
}

@mixin pop_up_list($width) {
  display: flex;
  justify-content: space-between;
  width: $width;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--dark-grey-color);
  border-radius: 8px;
  padding: 10px 15px;
  color: var(--dark-grey-color);
  align-items: center;
  cursor: pointer;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin input-text($width, $border-radius) {
  width: $width;
  outline: none;
  background-color: #fff;
  color: #353535;
  padding: 15px 15px;
  border: 1px solid #ADADAD;
  margin-top: 3px;
  border-radius: $border-radius;
  &::placeholder {
    color: #afbbbd;
  }
}

@mixin img-input-text($width, $border-radius) {
  width: $width;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  background-color: #fff;
  padding: 7px 15px;
  border: 1px solid #afbbbd;
  input {
    margin-left: 4px;
    width: 100%;
    border: none;
    outline: none;
    color: #353535;
    &::placeholder {
      color: #afbbbd;
    }
  }
}

@mixin button($background-color) {
  display: flex;
  background-color: $background-color;
  outline: none;
  color: var(--white-color);
  border-radius: 40px;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  img {
    padding-right: 4px;
  }

  &:hover {
    opacity: 80%;
    cursor: pointer;
    transition: all 0.15s;
  }
}
@mixin buttonSave($background-color) {
  display: flex;
  background-color: $background-color!important;
  outline: none;
  border-radius: 8px;
  padding: 10px 35px;
  &:hover {
    opacity: 0.8;
    transition: all 0.15s;
  }
}
