@font-face {
	font-family: 'FactWebRegular';
	src: 
		url('./../assets/fonts/fact_regular.woff') format('woff2'),
		url('./../assets/fonts/fact_regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FactWebMedium';
	src: 
		url('./../assets/fonts/fact_medium.woff2') format('woff2'),
		url('./../assets/fonts/fact_medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FactWebBold';
	src: 
		url('./../assets/fonts/fact_bold.woff2') format('woff2'),
		url('./../assets/fonts/fact_bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body a {
  text-decoration: none;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'FactWebRegular'; */
  background-color: #e3dfda;
  /* padding: 16px 64px; */
}
* {
  font-family: 'FactWebRegular';
}
h1, h2, h3{
  font-family: 'FactWebMedium';
}
h5, h4, h6{
  font-family: 'FactWebMedium';
}
p{
  font-family: 'FactWebRegular';
}

/* Стили для всего скроллбара */
::-webkit-scrollbar {
    width: 8px; /* Ширина вертикального скроллбара */
    height: 8px; /* Высота горизонтального скроллбара */
	position: relative;
	z-index: 2;
}

/* Стили для дорожки скроллбара */
::-webkit-scrollbar-track {
    background: transparent; /* Убирает белый фон */
    border-radius: 8px; /* Закругление углов */
}
::-webkit-scrollbar-track:after{
	background-color: red;
	content: "";
	position: relative;
	width: 5px;
	height: 5px;
}

/* Стили для ползунка скроллбара */
::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка */
    border-radius: 10px; /* Закругление углов */
}

/* Стили для ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}
