.BusinessUnitReferenceTopTitle{
  display: flex;
  align-items: center;
  @media (max-width: 870px) {
    margin-top: 100px;
}
  .clear{
      margin-left: 15px;
      button{
        border-radius: 8px;
        background-color: var(--turquoise-color);
        height: 44px;
        width: 40px;
        transition: 0.1s linear all;
        border: none;
        &:hover{
          opacity: 0.8;
          cursor: pointer;
        }
      }
     
    
    }
}
